@import 'assets/scss/variable';

$bp-xs:  0;
$bp-sm:  576px;
$bp-md:  768px;
$bp-lg:  992px;
$bp-xl: 1200px;

.body-app {
  background-color: $body-bg;
}
.navbar.navbar-light > .navbar-brand{
  color: $menu-color;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  &:hover, &:focus{
    color: rgb(246, 246, 246);
  }
}
.find-bg{
  background-color: $find-bg !important;
}
.large-name{
  font-size: 1.2rem;
}
.small-name{
  font-size: 0.8rem;
  margin-top: -0.3rem;
}
.name-container{
  margin-left: -0.2rem;
}
.form-inline > .input-group.form-search-navbar{
  width: 50vw;
}
@media(max-width: $bp-md){
  .form-search-navbar{
    width: 70vw !important;
  }
}
.slash-nav-item{
  display: inline-block;
  margin-left: 2rem;
}
.nav-menu > .nav-item > .nav-link{
  color: $menu-color !important;
  margin-top: 0.8rem;
}
.nav-rockbottom > .nav-link{
  margin-top: 0 !important;
  padding-top: 0.2rem !important;
}
.nav-menu.nav-footer{
  font-size: 0.6rem;
  .nav-link{
    padding: 0.5rem;
    &:first-child{
      padding-left: 0;
    }
  }
  .slash-nav-item{
    margin-left: 1rem;
  }
}
.copyright-footer{
  font-size: 0.6rem;
  font-weight: bolder;
  color: $menu-color;
  padding-bottom: 0;
}
.videos-container, .people-container, .documents-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 540px;
  width: 100%;
  gap: 0.4rem;
  margin-top: 1rem;
}
.videos-container, .people-container, .documents-container{
  .grid-item{
    background-color: $bg-grid-item;
    &:first-child{
      grid-column: 1/ span 2;
      grid-row: 1 / span 2;
    }
    .video-caption-container{
      background-color: rgba(255, 160, 160, 0.4);
      color: $body-bg;
      width: 100%;
      height: 15%;
      padding-right: 0.3em;
      padding-left: 0.3em;
      .video-title{
        font-size: 1.2em;
      }
      .video-information-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .username-bottom{
          font-size: .9em;
          text-align: center;
        }
        .total-viewers-bottom{
          font-size: .7em;
          text-align: center;
        }
      }
    }
    .embed-responsive, .people-responsive, .document-responsive{
      height: 85%;
    }
  }
}
.documents-container .grid-item:first-child .video-caption-container .video-title{
  font-size: 1.2em;
}
.documents-container .grid-item:first-child .video-caption-container .username-bottom{
  font-size: .9em;
}
.documents-container .grid-item:first-child .video-caption-container .total-viewers-bottom{
  font-size: .6em;
}
.documents-container .grid-item .video-caption-container .video-title{
  font-size: .55em;
}
.documents-container .grid-item .video-caption-container .username-bottom{
  font-size: .55em;
}
.documents-container .grid-item .video-caption-container .total-viewers-bottom{
  font-size: .55em;
}
// .first-item{
//   grid-column: 1/ span 2;
//   grid-row: 1 / span 2;
// }
.last-grid-item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body-bg !important;
  color: $menu-color;
  border: solid 0.1rem $menu-color;
  .content-last-grid-item{
    display: flex;
    svg{
      font-size: 2rem;
    }
  }
}
.grid-title{
  color: $menu-color;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .title-section{
    flex-grow: 2;
    font-size: 1.6rem;
  }
  .check-all{
    font-size: 0.7rem;
    flex-grow: 8;
    text-align: center;
  }
}
.border-bold{
  border-style: solid;
  border-width: 0 0 0.15rem 0;
  border-color: $menu-color;
}
.activity-container{
  height: 540px;
  border-style: solid;
  border-width: 0 0 0.1rem 0;
  border-color: $menu-color;
  .activity-item{
    display: flex;
    height: calc((540px / 6) - 1.2rem);
    margin-bottom: 1.2rem;
    transition-property: padding border;
    transition-duration: 0.25s;
    transition-timing-function: linear;
    transition-delay: 0s;
    .left-side-activity-item{
      width: 30%;
      background-color: $menu-color;
    }
    .right-side-activity-item{
      width: 70%;
      background-color: rgba(170, 62, 62, 0.455);
      color: $menu-color;
      .identity-activity-container{
        font-size: 0.9em;
        strong{
          font-size: 1em;
        }
      }
      .value-activity-container{
        overflow: hidden;
        width: 100%;
        height: 30%;
        font-size: 0.8em;
      }
      .time-activity-container{
        font-size: 0.7em;
        icon{
          font-size: 0.6em;
        }
      }
    }
  }
  .activity-item:hover{    
    border: solid 0.05rem $menu-color;
    padding: 0.2rem;
  }
}
.channel-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 720px;
  .channel-item{
    width: calc((100% - 50%) - 0.25rem);
    height: calc((720px / 5) - 1.2rem);    
    background-color: $menu-color;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: flex-end;
    transition-property: padding border;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    &:nth-child(odd){
      margin-right: 0.25rem;
    }
    &:nth-child(even){
      margin-left: 0.25rem;
    }
    .channel-item-name{
      color: $body-bg;
      font-size: 1em;
    }
  }
}
.channel-item:hover{
  border: solid 0.2rem $body-bg;
  padding: 0.1rem;
}
.social-media-logo-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  .social-media-logo-item{    
    background-color: $bg-grid-item;
    padding: 0.5rem;
    text-align: center;
    margin-right: 0.3rem;
  }
}
