<template>
  <b-container fluid >
    <b-navbar toggleable="lg" class="border-bottom">
      <b-navbar-brand href="#" class="navbar-brand">
        <strong>Social</strong>Network
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-input-group class="find-bg form-search-navbar">
              <b-form-input size="md" class="mr-md-2 rounded-0 border-0 find-bg" placeholder="Find..."></b-form-input>
              <b-input-group-append class="p-2">
                <b-icon-search class="d-block m-auto"></b-icon-search>
              </b-input-group-append>
            </b-input-group>
          </b-nav-form>
          <b-nav-item class="ml-2">
            <b-button size="md" class="find-bg rounded-0 border-0 text-dark">
              <b-icon-arrow-up class="m-auto"></b-icon-arrow-up> Upload
            </b-button>
          </b-nav-item>
          <b-nav-item class="d-flex">
            <b-button size="md" class="find-bg rounded-0 border-0 text-dark">
              <b-icon-person-fill class="m-auto"></b-icon-person-fill>
            </b-button>
          </b-nav-item>    
        </b-navbar-nav>
        <b-navbar-nav>
          <div class="name-container text-light">
            <div class="large-name">Waseem</div>
            <div class="small-name">Arshad</div>
          </div>
        </b-navbar-nav>
      </b-collapse>   
    </b-navbar>
    <b-nav class="nav-menu border-bottom">
      <b-nav-item>Videos
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>People        
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>Documents
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>Events        
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>Communities
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>Favorites
        <p class="slash-nav-item">/</p>
      </b-nav-item>
      <b-nav-item>Channels
        <p class="slash-nav-item">/</p>
        </b-nav-item>
    </b-nav>
    <Content></Content>
    <Footer></Footer>
  </b-container>
</template>

<script>
import Content from '../components/Content';
import Footer from '../components/Footer';

export default {
  name: 'Dashboard',
  components: {
    Content,
    Footer
  },
}

</script>

<style>

</style>
