<template>
  <b-row class="ml-0 mr-0 pb-md-5 border-bold">
    <b-col md="8" class="p-0 border border-white">
      <div class="grid-title">
        <div class="title-section">Videos</div>
        <div class="check-all">Watch all videos</div>
      </div>
      <div class="videos-container border border-info">
        <div class="first-item grid-item">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
          <div class="video-caption-container">
            <div class="video-title">
              How to improve your skill
            </div>
            <div class="video-information-bottom">
              <div class="username-bottom">
                Waseem Arshad
              </div>
              <div class="total-viewers-bottom">
                187554 viewers
              </div>
            </div>
          </div>
        </div>
        <div v-for="item in peopleArr" v-bind:key="item" class="grid-item">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" :src="item.videosrc" allowfullscreen></iframe>
          </div>
          <div class="video-caption-container">
            <div class="video-information-bottom">
              <div class="username-bottom">
                {{item.name}}
              </div>
              <div class="total-viewers-bottom">
                {{item.viewers}} viewers
              </div>
            </div>
          </div>
        </div>
        <div class="last-grid-item grid-item">
          <div class="content-last-grid-item">
            <div class="d-flex justify-content-center mr-2">
              <b-icon-upload class="d-block m-auto"></b-icon-upload>
            </div>
            <div class="p-1">
              <p class="mb-0">Upload</p>
              <p class="mb-0">Your Own Video</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-title">
        <div class="title-section">People</div>
        <div class="check-all">View all</div>
      </div>
      <div class="people-container border border-white">
        <div class="first-item grid-item">
          <div class="people-responsive"></div>
          <div class="video-caption-container">
            <div class="video-title">
              Waseem Arshad
            </div>
            <div class="video-information-bottom">
              <div class="username-bottom">
                User Interface Designer
              </div>
              <div class="total-viewers-bottom">
                187554 viewers
              </div>
            </div>
          </div>
        </div>
        <div v-for="item in peopleArr" v-bind:key="item.index" class="grid-item">
          <div class="people-responsive"></div>
          <div class="video-caption-container">
            <div class="video-information-bottom">
              <div class="username-bottom">
                {{item.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="last-grid-item grid-item">
          <div class="content-last-grid-item">
            <div class="d-flex justify-content-center mr-2">
              <b-icon-disc class="d-block m-auto"></b-icon-disc>
            </div>
            <div class="p-1">
              <p class="mb-0">Show</p>
              <p class="mb-0">Your Work</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-title">
        <div class="title-section">Documents</div>
        <div class="check-all">Browse all documents</div>
      </div>
      <div class="documents-container border border-dark">
        <div class="first-item grid-item">
          <div class="document-responsive"></div>
          <div class="video-caption-container">
            <div class="video-title">
              Mobile ui & ux guide 2013
            </div>
            <div class="video-information-bottom">
              <div class="username-bottom">
                By William Makhoja
              </div>
              <div class="total-viewers-bottom">
                187554 viewers
              </div>
            </div>
          </div>
        </div>
        <div v-for="item in peopleArr" v-bind:key="item.index" class="grid-item">
          <div class="document-responsive"></div>
          <div class="video-caption-container">
            <div class="video-title">
              {{item.documentName}}
            </div>
            <div class="video-information-bottom">
              <div class="total-viewers-bottom">
                {{item.viewers}} viewers
              </div>
            </div>
          </div>
        </div>
        <div class="last-grid-item grid-item">
          <div class="content-last-grid-item">
            <div class="d-flex justify-content-center mr-2">
              <b-icon-plus-circle class="d-block m-auto"></b-icon-plus-circle>
            </div>
            <div class="p-1">
              <p class="mb-0">Share</p>
              <p class="mb-0">Your Document</p>
            </div>
          </div>
        </div>
      </div>
    </b-col>
    <b-col md="4" class="border border-warning">
      <div class="grid-title pb-2 border-bold">
        <div class="title-section">Activity</div>
        <div class="check-all">View timeline /Filter activities</div>
      </div>
      <div class="activity-container">
        <div v-for="item in activityArr" v-bind:key="item.index" class="activity-item">
          <div class="left-side-activity-item mr-2"></div>
          <div class="right-side-activity-item">
            <div class="identity-activity-container">
              <strong>{{item.name}}</strong> {{item.kindActivity}}
            </div>
            <div class="value-activity-container">
              {{item.value}}
            </div>
            <div class="time-activity-container">
              <b-icon :icon="item.icon"></b-icon> {{item.time}} ago
            </div>
          </div>
        </div>
      </div>
      <div class="grid-title pb-2 border-bold">
        <div class="title-section">Channels</div>
        <div class="check-all">Browse all channels</div>
      </div>
      <div class="channel-container border-bold">
        <div v-for="item in channelArr" v-bind:key="item" class="channel-item">
          <div class="ml-2 channel-item-name">
            {{item.channelName}}
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'Content',
  data() {
    return {
      peopleArr: [
        { 
          index: 1, 
          name: 'Michael Keliph', 
          viewers: 1778567, 
          expertise: 'User Interface Designer',
          videoTitle: 'How To Improve Your Skill',
          videosrc: 'https://www.youtube.com/embed/6YzGOq42zLk',
          documentName: 'HTML 5 and usage'
        },
        { 
          index: 2, 
          name: 'Ahmed Yasin',
          viewers: 15167,
          expertise: 'User Interface Designer',
          videoTitle: 'How To Improve Your Skill',
          videosrc: 'https://www.youtube.com/embed/_U8S-uFZrHA',
          documentName: 'How To Became an expert?'
        },
        { 
          index: 3, 
          name: 'John Stainior', 
          viewers: 45685, 
          expertise: 'User Interface Designer',
          videoTitle: 'How To Improve Your Skill',
          videosrc: 'https://www.youtube.com/embed/MpN1j8R5lZ8',
          documentName: '2013 Marketing Trends'
        },
        { 
          index: 4, 
          name: 'John Doe', 
          viewers: 9811212, 
          expertise: 'User Interface Designer',
          videoTitle: 'How To Improve Your Skill',
          videosrc: 'https://www.youtube.com/embed/E87JdbqStx8',
          documentName: '2013 Marketing Trends'
        }
      ],
      activityArr: [
        {
          index: 1,
          name: 'John Stainior',
          kindActivity: 'commented',
          value: 'Well, I am liking it how it captures the audio...',
          icon: 'chat-fill',
          time: '2 seconds'
        },
        {
          index: 2,
          name: 'John Stainior',
          kindActivity: 'added a new video',
          value: 'Creative people must follow these guidelines...',
          icon: 'camera-reels-fill',
          time: '5 minutes'
        },
        {
          index: 3,
          name: 'John Stainior',
          kindActivity: 'shared a document',
          value: '"How to become an expert"..',
          icon: 'file-earmark-fill',
          time: '1 day'
        },
        {
          index: 4,
          name: 'Arjun',
          kindActivity: 'unlocked new badge',
          value: 'Social Guru',
          icon: 'unlock-fill',
          time: '44 minutes'
        },
        {
          index: 5,
          name: 'Micheal',
          kindActivity: 'uploaded a new video',
          value: 'How do I start a website design project',
          icon: 'camera-reels-fill',
          time: '1 hour'
        },
        {
          index: 6,
          name: 'John Stainior',
          kindActivity: 'liked a video',
          value: 'Some marketing tricks.',
          icon: 'heart-fill',
          time: '19 minutes'
        },
      ],
      channelArr: [
        { channelName: 'Google'},
        { channelName: 'Dribbble'},
        { channelName: 'Microsoft'},
        { channelName: 'Behance'},
        { channelName: 'Weather Channel'},
        { channelName: 'Gurus'},
        { channelName: 'iMedia'},
        { channelName: 'Creativeye'},
        { channelName: 'Khan Studios'},
        { channelName: 'Yahoo'},
      ]
    }
  }
}
</script>

<style>

</style>
