<template>
  <footer>
    <b-row>
      <b-col>
        <div class="social-media-logo-container">
          <div class="social-media-logo-item">
            <b-icon-twitter class="d-block m-auto"></b-icon-twitter>
          </div>
          <div class="social-media-logo-item">
            <b-icon-linkedin class="d-block m-auto"></b-icon-linkedin>
          </div>
          <div class="social-media-logo-item">
            <b-icon-facebook class="d-block m-auto"></b-icon-facebook>
          </div> 
        </div>
        <b-nav class="nav-menu nav-footer">
          <b-nav-item>About
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item>For Business        
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item>Suggestions
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item>Help & FAQs        
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item>Contacts
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item>Pricing
            <p class="slash-nav-item">/</p>
          </b-nav-item>
        </b-nav>
        <div class="copyright-footer">
           © Copyright 2013 companyname inc.
        </div>
        <b-nav class="nav-menu nav-footer">
          <b-nav-item class="nav-rockbottom">Privacy
            <p class="slash-nav-item">/</p>
          </b-nav-item>
          <b-nav-item class="nav-rockbottom">Terms</b-nav-item>
        </b-nav>
      </b-col>
    </b-row>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style>

</style>
